*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
.Header{
    background-color: grey;
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
}
.Header > div{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.Header > div.logo{
    font-size: 25px;
}
.Header > div.account{
    display: flex;
    justify-content: flex-end;
}
.Header > div.account ul{
    display: flex;

}
.Header > div.account ul li{
    padding: 0 15px;
}
.signOut button{
    padding: 1px;
    color: black;
}
.signOut button:hover{
   cursor: pointer;

}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Home{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.MUIDataTable-tableRoot-107 tr:hover{
    cursor: pointer;
}
table td {
    text-align: center;
}
.content{
    flex: 1;
    overflow: auto;
}
.RegisterForm{
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black ;
}

.CreateTransactionForm{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.CreateTransactionForm > div {
    margin: 0 10px;
    display: flex;
    align-items: center;
}
.CreateTransactionForm button{
    height: 50%;
}

.SignInForm, .RegisterForm{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.SignInForm button, .RegisterForm button{
    padding: 10px;
    margin: 10px 10px 0 0;
}

.MuiFormControl-root-1{
    margin-bottom: 15px!important;
}